<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>list_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{784,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{784,78}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,291},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>bitcoin_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,0},{131,118}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,119}</string>
			</dict>
			<key>shared_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,118},{173,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,71}</string>
			</dict>
			<key>shared_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,118},{114,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>tab_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,0},{528,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{528,75}</string>
			</dict>
			<key>tab_bg_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,232},{138,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,75}</string>
			</dict>
			<key>tab_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,232},{138,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,75}</string>
			</dict>
			<key>copy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,349},{86,40}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,72}</string>
			</dict>
			<key>wechat_btn_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,370},{56,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Promotional.png</string>
			<key>realTextureFileName</key>
			<string>Promotional.png</string>
			<key>size</key>
			<string>{1020,528}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>528</integer>
		</dict>
	</dict>
</plist>