<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add_friend_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,946},{86,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,66}</string>
			</dict>
			<key>bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,370},{312,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,126}</string>
			</dict>
			<key>Bitcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,946},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,706},{636,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,122}</string>
			</dict>
			<key>customer_service_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,596},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,596},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>first_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,940},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>friend_room_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,0},{370,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,146}</string>
			</dict>
			<key>game_hall_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,0},{370,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,146}</string>
			</dict>
			<key>getout_bitcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,146},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>hallRankAddFriendBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,516},{320,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,80}</string>
			</dict>
			<key>horizontal_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1020},{18,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,2}</string>
			</dict>
			<key>master_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{314,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,362}</string>
			</dict>
			<key>more.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,234},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,146},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>promotion_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,370},{370,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,146}</string>
			</dict>
			<key>record.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,234},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>second_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,596},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,146},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>showgirl.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{482,706}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,706}</string>
			</dict>
			<key>start_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,828},{370,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,162}</string>
			</dict>
			<key>store_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,828},{118,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,112}</string>
			</dict>
			<key>task_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,828},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>third_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,596},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>txt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,990},{136,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,30}</string>
			</dict>
			<key>vertical_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1020},{4,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall.png</string>
			<key>realTextureFileName</key>
			<string>hall.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>