<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1021,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,678}}</string>
                <key>sourceSize</key>
                <string>{1021,678}</string>
            </dict>
            <key>btn_bg_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,97},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>btn_game_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,97},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>logon_out_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{225,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,93}}</string>
                <key>sourceSize</key>
                <string>{225,93}</string>
            </dict>
            <key>logon_out_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{225,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,93}}</string>
                <key>sourceSize</key>
                <string>{225,93}</string>
            </dict>
            <key>progress_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,97},{376,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,37}}</string>
                <key>sourceSize</key>
                <string>{376,37}</string>
            </dict>
            <key>progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,132},{358,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,21}}</string>
                <key>sourceSize</key>
                <string>{358,21}</string>
            </dict>
            <key>progress_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,97},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Option.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f82557fb9a9607320d508794ca85cd$</string>
            <key>textureFileName</key>
            <string>Option.png</string>
        </dict>
    </dict>
</plist>
