<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Deposit/btn_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{215,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,105}</string>
			</dict>
			<key>Deposit/btn_re.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,961},{138,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,31}</string>
			</dict>
			<key>Deposit/btn_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,913},{158,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,83}</string>
			</dict>
			<key>Deposit/check_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,777},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Deposit/check_se.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,995},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>Deposit/fonts_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,913},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>Deposit/fonts_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,814},{193,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,32}</string>
			</dict>
			<key>Deposit/fonts_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,981},{103,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,32}</string>
			</dict>
			<key>Deposit/fonts_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,913},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>Deposit/fonts_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,913},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>Deposit/fonts_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,805},{193,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,32}</string>
			</dict>
			<key>Deposit/fonts_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,947},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>Deposit/fonts_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,961},{163,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,32}</string>
			</dict>
			<key>Deposit/fonts_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,814},{223,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,32}</string>
			</dict>
			<key>Deposit/fonts_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,961},{163,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,32}</string>
			</dict>
			<key>Deposit/fonts_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,913},{163,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,32}</string>
			</dict>
			<key>Deposit/fonts_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,743},{193,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,32}</string>
			</dict>
			<key>Deposit/fonts_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,961},{193,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,32}</string>
			</dict>
			<key>Deposit/icon_al.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,777},{106,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,61}</string>
			</dict>
			<key>Deposit/icon_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,851},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>Deposit/icon_yl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,743},{109,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,60}</string>
			</dict>
			<key>Deposit/img_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1343,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1343,740}</string>
			</dict>
			<key>Deposit/img_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,743},{369,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,69}</string>
			</dict>
			<key>Deposit/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,848},{1108,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1108,1}</string>
			</dict>
			<key>Deposit/img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,1},{335,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,191}</string>
			</dict>
			<key>Deposit/img_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,743},{674,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{674,107}</string>
			</dict>
			<key>Deposit/img_ling_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1020},{1108,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1108,1}</string>
			</dict>
			<key>Deposit/img_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,981},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>Deposit/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,777},{25,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,54}</string>
			</dict>
			<key>Deposit/img_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,914},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>Deposit/img_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,851},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>Deposit/img_idx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,914},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
			<key>Deposit/img_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,851},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>Deposit/img_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,995},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Deposit/img_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,947},{121,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,32}</string>
			</dict>
			<key>Deposit/img_title_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,852},{972,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{972,59}</string>
			</dict>
			<key>Deposit/titie.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,851},{353,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,108}</string>
			</dict>
			<key>Deposit/img_txt_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,961},{129,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Deposti.png</string>
			<key>realTextureFileName</key>
			<string>Deposti.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>